[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = pmiglio21
	email = 92951689+pmiglio21@users.noreply.github.com
[safe]
	directory = C:/Users/pmigl/OneDrive/Documents/GitHub/JameGam33
