<script src="watchvideocomponent.ts"></script>

<main class="main">
  <div class="content">
    
    <div id="video-display">
      <div id="video-header">
        <div id="box-above-video-element">
          <button id="left-button" (click)="goToPreviousVideo()">&#9664;</button>
  
          <h2>{{videoId}} - {{ videoName }}</h2>
          
          <button id="right-button" (click)="goToNextVideo()">&#9654;</button>
        </div>
      </div>

      <video id="video-element" width="1280px" height="720px" controls 
        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source id="random-video-source" src="assets/videos/2.webm" type='video/webm' />
      </video>

      <div id="video-details">
        <p>Posted by {{ gondolaCreator }}, found on {{ rippedFrom }} where it was posted in {{ earliestFoundDateOfPosting }}</p>
        <p>{{ backgroundArtDescription }}</p>
        <p>{{ musicDescription }}</p>
        <p>{{ gondolaNotFoundDescription }}</p>
      </div>
    </div>
  </div>
  <nav class="detail-navbar">
    <ul>
      <h3 *ngIf="tags && tags.length > 0">Tags</h3>
      <div class="tags-list" *ngIf="tags && tags.length > 0">
        <button *ngFor="let tag of tags" (click)="searchByTag(tag)" class="tag-button">
          - {{ tag }}
        </button>
      </div>
      <h3 *ngIf="similarVideos && similarVideos.length > 0">Similar Videos</h3>
      <div class="similar-videos-list" *ngIf="similarVideos && similarVideos.length > 0">
        <button *ngFor="let videoId of similarVideos" (click)="goToSimilarVideo(videoId)" class="similar-video-button">
          - {{ videoId }}
        </button>
      </div>
    </ul>
  </nav>
</main>

<router-outlet />