<script src="watchvideocomponent.ts"></script>

<main class="main">
  <div class="content">
    <h2>{{videoId}} - {{ videoName }}</h2>
    <div id="video-display">
      
      <video id="video-element" class="video-js vjs-default-skin" width="1280px" height="720px" controls preload="none"
        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source id="random-video-source" src="assets/videos/2.webm" type='video/webm' />
      </video>
      <div id="video-details">
        <p>Posted by {{ gondolaCreator }}, found on {{ rippedFrom }} where it was posted in {{ earliestFoundDateOfPosting }}</p>
        <p>Background art source: {{ backgroundArtOrigin }}</p>
        <p>Music source: {{ musicName }} - {{ musicOrigin }}</p>
      </div>
    </div>
  </div>
  <nav class="detail-navbar">
    <ul>
      <h3>Tags</h3>
      <div class="tags-list">
        <button *ngFor="let tag of tags" (click)="searchByTag(tag)" class="tag-button">
          - {{ tag }}
        </button>
      </div>
      <h3>Similar Videos</h3>
      <div class="similar-videos-list">
        <button *ngFor="let videoId of similarVideos" (click)="goToSimilarVideo(videoId)" class="similar-video-button">
          - {{ videoId }}
        </button>
      </div>
    </ul>
  </nav>
</main>

<router-outlet />