<script src="watchvideocomponent.ts"></script>

<main class="main">
  <div class="search-container">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      (change)="onSelect(searchQuery)"
      (keydown.enter)="onSelect(searchQuery)"
      (keydown.mouseenter)="onSelect(searchQuery)"
      list="search-options"
      class="search-input"
    />
    <datalist id="search-options">
      <option *ngFor="let tag of filteredTags" [value]="tag"></option>

    </datalist>
    <button (click)="onSearch()" class="search-button">Search</button>
  </div>
  <div class="content">
    <div class="search-results">
      <ul>
        <li *ngFor="let video of videos">
          <button (click)="onVideoSelect(video.VideoId)">
            {{ video.VideoId }} - {{ video.VideoName }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</main>

<router-outlet />