<script src="watchvideocomponent.ts"></script>

<main class="main">
  <video id="thumbnail-video" style="display: none;"></video>
  <canvas id="thumbnail-canvas" style="display: none;"></canvas>

  <div class="search-container">
    <div class="search-bar">
      <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (input)="onTextEnteredIntoSearch()"
      (change)="onSearchButtonClicked(searchQuery)"
      (keydown.enter)="onSearchButtonClicked(searchQuery)"
      (keydown.mouseenter)="onSearchButtonClicked(searchQuery)"
      list="search-options"
      class="search-input"
      />

      <datalist id="search-options">
        <option *ngFor="let tag of filteredTags" [value]="tag"></option>
      </datalist>

      <button (click)="onSearchButtonClicked(searchQuery)" class="search-button">Search</button>

      <select [(ngModel)]="searchMode" class="search-toggle">
        <option value="tag">Search by Tag</option>
        <option value="source">Search by Source</option>
      </select>
    </div>
    
    <div class="search-results">
      <ul>
        <li *ngFor="let video of videos">
          <button (click)="onVideoSelect(video.VideoId)" class="video-result-button">
            <img [src]="video.ThumbnailUrl" alt="Video Thumbnail" class="video-thumbnail" />
            <span>{{ video.VideoId }} - {{ video.VideoName }}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</main>

<router-outlet />